body {
  font-family: 'Lato', sans-serif;
  background: radial-gradient(circle at 50.3% 44.5%, rgb(255, 241, 235) 0%, rgb(172, 224, 249) 100.2%);
  color: #D5A651;
}

label {
  margin: 0 auto;
  position: relative;
  top: 6px;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
}

button {
  border-radius: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li  {
  padding: 0;
}

.container {
  max-width: 750px;
}

.search-bar {
  margin: 40px auto;
  text-align: center;
}

.city-input {
  display: inline;
  margin-left: 7px;
  width:auto;
}

.enter-btn {
  position: relative;
  top: -2px;
  background: rgb(241,241,241);
  border-color: #ced4da;
}

.enter-btn:hover{
  background:  #ced4da; 
  border-color: #ced4da;
}

.my-location {
  color: inherit;
  margin-top: 20px;
  position: initial;
}

.pictures-search {
  margin: 20px auto;
  padding: 30px 10px 30px 10px;
  width: 100%; 
  border: #D5A651 solid;
}

.pictures-search img {
  width: 100%;
}

.content-weather {
  border: #D5A651 solid;
  margin-top: 40px;
}

.today-weather, .forecast, .more-info {
  margin: 30px 0 20px 0;
  padding: 0 20px;
  font-size: 20px;
}

.signature {
  position:initial;
  bottom: 20px;
  color:#385170;
  font-size: 14px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-top: 20px;
}

.city {
  padding-right: 20px;
  width: 100%;
  font-size: 45px;
  font-style: italic;
  font-weight: bold;
}

.date-box {
  font-weight: bold;
  text-align: center;  
}

.temp-box, .ambiente {
  color:#385170;
  font-size: 20px;
  padding-left: 0;
}

.temp-box {
  position: relative;
  top: 3px;
}

.icon {
  font-size: 50px;
}

.temp-max {
  font-weight: bold;
}

.more-info a {
  color: rgb(95, 28, 28);
  font-weight: bold;
  font-style: italic;
}